# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yaml and/or the recipe/meta.yaml.

language: objective-c

env:
  matrix:
    
    - CONDA_PY=27
    - CONDA_PY=34
    - CONDA_PY=35
  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "M0qp3lWJa/7ujWTxWiHRMIr/KFFfHBZBvorpa/6m4dkiECyFhiuA3gUR/0RYgnIndUd0f7dD1Z4SInckDX7Q62dM1SnjQEcamGTLq90JeB+QneypdAnCGpzUbYpioAlyIQ9xDY8OrNBs+9C6JfjNCeEOh+fInxV26xJ+mczJG+XG2oA91rBtSKja+XdNIcsNyhEg9X9Y6lChMxr/Y6WL4cC72ZZDzIF5SG+WWP6FnUQ3acxcxTZpo0ezTkdsn5fF1KQ0Sw/x2C6WAYOyT3mhTAqbOlYFC8pnXkrMjcgG7trs78F1Lxupa+LS5tJYsI6/fGoS+vqhOFc87EUtM0kZu6D3perv3bbVZKohijR2dHckUJhjnuj/T0c/NFBP8jl4F0aGYZ/qQuykwWmsiIIHxX8IR13nx5JIcOdqpY9ko6rgk5OtidBRg9G5kXuDsEipwL4aeS4rb3uxFuYzIEr0Hfu43if/hh+44HjrPu+N6KD0KTwy9KgQ+cX+nQjxFnL0pZgaLAfJkCa0nTYzpffn73h1/i0pb/sPwwIOhryYi+lpZCQ0rBj8sC/OFe6nx1WnPN5CvleQuYi5wxDPub7ISCmwmZDWXqPEGQcmnJ0FTEVElp5r2lGyDRvUm4kR3fQ7Kq2kgNDqDyzM1CEQmViZ7AK6ruibc15sn4cd7gwgmvA="


before_install:
    # Remove homebrew.
    - brew remove --force $(brew list)
    - brew cleanup -s
    - rm -rf $(brew --cache)

install:
    - |
      MINICONDA_URL="http://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

      export PATH=/Users/travis/miniconda3/bin:$PATH
      conda config --add channels conda-forge
      conda config --set show_channel_urls true
      conda install --yes --quiet conda-forge-build-setup
      source run_conda_forge_build_setup

script:
  - conda build ./recipe

after_success:

  - ./ci_support/upload_or_check_non_existence.py ./recipe conda-forge --channel=main
